/* Sections */
.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.internship {
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 5% 95%;
  align-items: center;
  row-gap: 1.5rem;
}

.internship-container {
  width: 100%;
  height: 83vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 1rem;
  padding: 1.5rem;
  overflow-y: auto;
}
.internship-card {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  transition: 0.3s ease-in-out;
}
.internship-card:hover {
  box-shadow: var(--box-shadow);
}
.internship-group {
  position: relative;
}
.internship-logo {
  width: 150px;
  height: 150px;
  border-radius: var(--button-radius);
}
.internship-location {
  position: absolute;
  width: 180px;
  right: 1rem;
  bottom: 1rem;
  background-color: var(--primary-color-light);
  backdrop-filter: blur(6px);
  border-radius: var(--button-radius);
  padding: 0.25rem 0.15rem;
  text-align: center;
  color: var(--light-color);
  font-size: var(--tiny-font-size);
  font-weight: var(--font-normal);
}
.internship-location i {
  font-size: var(--smaller-font-size);
}
.internship-address {
  margin-top: 0.25rem;
}
.internship-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  color: var(--primary-color);
  margin-bottom: 0.25rem;
}
.internship-company {
  color: var(--subtitle-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;
}
.internship-description {
  font-size: var(--tiny-font-size);
  color: var(--text-color-alt);
  margin-bottom: 0.5rem;
}
.internship-apply {
  padding: 0.5rem;
  background-color: var(--primary-color-light);
  border-radius: var(--button-radius);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.internship-apply:hover {
  color: var(--title-color);
  background-color: var(--primary-color-alt);
}
