/* Sections */
.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.request,
.offer,
.intern,
.company {
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 5% 95%;
  align-items: center;
  row-gap: 0.5rem;
}

.section-container {
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* Request */
.request-container {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 2rem;
  overflow-y: auto;
  padding: 1rem;
}
.request-card {
  width: 100%;
  height: max-content;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 0.75rem;
  background-color: var(--body-color);
  border-radius: var(--card-radius);
}
.request-image {
  width: 75px;
  height: 75px;
  border-radius: var(--circle-radius);
}

.request-data {
  row-gap: 0.5rem;
  margin-top: 0.5rem;
}
.request-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.request-education {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request-faculty {
  font-size: var(--tiny-font-size);
  font-weight: var(--font-normal);
  color: var(--subtitle-color);
}
.request-level {
  font-size: var(--tiny-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color-alt);
}
.request-poste span {
  font-size: var(--tiny-font-size);
  font-weight: var(--font-medium);
  color: var(--subtitle-color);
}
.request-poste {
  font-size: var(--tiny-font-size);
  font-weight: var(--font-normal);
  color: var(--secondary-color);
}
.request-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.request-button button {
  border-radius: var(--button-radius);
  padding: 0.5rem 0.75rem;
}
.request-accept {
  color: var(--title-color);
  background-color: var(--secondary-color);
}
.request-refuse {
  background-color: var(--subtitle-color);
}

/* Offer */

/* Intern */

/* Company */
